<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.w3.org/1999/xhtml" layout:decorate="~{layout}">

<head>
<meta charset="UTF-8" />
<title>Vet System - Perfis Cadastrados</title>
</head>
<body>
	<section class="layout-content" layout:fragment="corpo">
		<main role="main">
			<div class="container">

				<div class="row">
					<div class="col-md-12">

						<div th:replace="fragments/alert :: alerta-sucesso"></div>
						<h2 class="clientes-cadastrados">Perfis Cadastrados</h2>

						<table id="table-perfis"
							class="table table-sm table-striped nowrap"
							style="width: 100%">
							<thead class="thead-dark">
								<tr>
									<th scope="col">Descrição</th>
									<th scope="col" class="hide-coluna">Editar</th>
									<th scope="col" class="hide-coluna">Excluir</th>
									<th scope="col" class="hide-coluna">Visualizar</th>
								</tr>
							</thead>
						</table>

					</div>
				</div>
			</div>
			<a class="btn-cadastrar-usuario" href="#" role="button"
				data-toggle="modal" data-target="#modal-perfil">Novo Perfil</a> <span
				th:replace="perfil/modal :: modal-form"></span>
			
		</main>
	</section>
	<script th:src="@{/js/perfis.js(v=${version})}" th:fragment="js"></script>
	<script th:inline="javascript" th:fragment="inlinescript">
	var perfil = [[${perfil.id}]];
	//var permissoes = [[${permissoes}]];
	$(document).ready(function() {
		if(perfil != null){
			$("#modal-perfil").modal('show');
		
			$(".modal-title").text("Editar Perfil");
		}
		if(perfil == null){
			$(".modal-title").text("Novo Perfil");
		}
		if ($("#msg-erro").html() != "") {
			$("#modal-perfil").modal('show');
			$("#msg-erro, .invalid-feedback span").css("color", "red");
		}
// 		$("#modal-perfil").on("show.bs.modal", function() {
// 			if(permissoes[0] == null){
// 				alert('b')
// 			}
// 		});
		$("#modal-perfil").on("hidden.bs.modal", function() {
			$(".is-invalid").removeClass("is-invalid").removeAttr('style');
			$("#msg-erro").hide();
			$('.form-check-input').prop('checked', false)
			$("#modal-perfil").modal('hide');
			
			
		});
		
		$(".btn-cadastrar-usuario").on("click", function(){
			$(".form-control").val("");
			$('.form-check-input').prop('checked', false)
			$(".modal-title").text("Novo perfil");
		});
		$('#confirm-modal').on('show.bs.modal', function(){
			$(".modal-title").text("Excluir Perfil");
			$('#subtitulo').text('Todos usuários que possuem este perfil serão deletados!');
		})
	})
	</script>
</body>
</html>